/* Dark Mode */
html,
body,
:not([style*="background-color:"]) {
  background-color: rgb(28, 31, 33) !important;
}
html,
body,
:not([style*="color:"]) {
  color: rgb(168, 158, 139) !important;
}
h1:not([style*="color:"]),
h2:not([style*="color:"]),
h3:not([style*="color:"]),
h4:not([style*="color:"]),
h5:not([style*="color:"]),
h6:not([style*="color:"]) {
  color: rgb(190, 146, 109) !important;
}
cite:not([style*="color:"]) {
  color: rgb(138, 197, 147) !important;
}
input:not([style*="background-color:"]),
textarea:not([style*="background-color:"]),
button:not([style*="background-color:"]),
[role="button"] {
  background-color: rgb(45, 57, 68) !important;
}
input:not([style*="background-color:"]):hover,
textarea:not([style*="background-color:"]):hover,
button:not([style*="background-color:"]):hover,
[role="button"]:hover {
  background-color: rgb(42, 62, 82) !important;
}
input:not([style*="background-color:"]):active,
input:not([style*="background-color:"]):focus,
textarea:not([style*="background-color:"]):active,
textarea:not([style*="background-color:"]):focus,
button:not([style*="background-color:"]):active,
button:not([style*="background-color:"]):focus,
[role="button"]:active,
[role="button"]:focus {
  background-color: rgb(41, 64, 87) !important;
}
a:not([style*="color:"]) {
  color: rgb(137, 179, 192) !important;
}
a:not([style*="color:"]):hover {
  color: rgb(148, 190, 208) !important;
}
a:not([style*="color:"]):active,
a:not([style*="color:"]):focus {
  color: rgb(160, 202, 224) !important;
}
:not([style*="border-color:"]),
::before,
::after {
  border-color: rgb(91, 118, 130) !important;
}
div:empty {
  background-color: rgb(28, 31, 33) !important;
}
input::placeholder,
textarea::placeholder {
  color: rgb(168, 158, 139) !important;
}
input:not([style*="background-image:"]),
textarea:not([style*="background-image:"]) {
  background-image: none !important;
}

/* end dark reader generated */

/* Manual Tweaks */

svg * {
  stroke: rgb(168, 158, 139) !important;
}

i#dark-reader-icon {
  color: rgb(190, 146, 109) !important;
}

body:not(.navbar) {
  background-color: rgb(28, 31, 33) !important;
}
