.pop {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  backdrop-filter: blur(2px);
}

.pop-content {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 30px;
  width: 50%;
  background-color: #f7f7f7;
}

.pop-flex {
  display: flex;
  justify-content: space-between;
}

.closeBtn {
  font-size: 30px;
}

.closeBtn:hover {
  text-shadow: 2px 2px 2px #9e9c9c;
  cursor: pointer;
  transition-duration: 0.1s;
}

.org-view:hover {
  border-bottom: 2px solid #333333;
}

.org-side-box {
  border-radius: 16px;
  padding-top: 0.1px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 4px;
  border: none;
}

.side {
  margin-bottom: 20px;
  margin-top: 20px;
}
